/* Global */
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
h1,h2,h3,h4,p{
  margin: 0;
  padding: 0;
}
body {
  background : rgb(250, 250, 250);
}
input{
  border-radius: 2px !important;
}
button{
  border-radius: 2px !important;
}
textarea{
  resize: none;
}
.edit-button{
  color: rgba(25, 0, 255, 0.4);
}
.edit-button:hover{
  color: rgba(25, 0, 255, 0.85);
}
.delete-button{
  color: rgba(175, 23, 23, 0.4);
}
.delete-button:hover{
  color: rgba(175, 23, 23, 0.85);
}
i{
  cursor: pointer;
}

/* login section */
.login-section {
  width: 400px;
  margin: auto;
  background: rgb(255, 255, 255);
  padding: 60px 20px;
  border-radius: 3px;
  box-shadow: #31B0D5 3px 3px;
  margin: 20px auto;
}

/* register section */
.register-section{
  width: 400px;
  margin: auto;
  background: rgb(255, 255, 255);
  padding: 60px 20px;
  border-radius: 3px;
  box-shadow: #286090 3px 3px;
  margin: 20px auto;
}

/* main section */
.box-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-section{
  background: rgba(12, 137, 187, 0.5);
  border-radius: 2px;
  margin: 30px 10px;
  box-shadow: rgba(9, 107, 146, 0.911) 2px 2px;
  padding-bottom: 3px;
}

.task-section, textarea{
  background: rgb(247, 247, 247);
  border-radius: 2px;
  border: none;
  width: 220px;
  padding: 5px;
  margin: 5px 5px;
}
.add{
  text-align: center;
  background: rgba(9, 107, 146, 0.3);
  width: 220px;
  margin: auto;
  border-radius: 2px;
  padding:5px 0;
}
.add:hover{
  background: rgba(9, 107, 146, 0.7);
  cursor: pointer;
  color: white;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #286090;
  color: white;
  padding:10px 20px;
}